.answersWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.answer {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  align-items: center;
  justify-content: right;
  align-content: center;
}

.answerRow {
  display: flex;
  width: 100%;
}

.selected {
  margin-left: 20px;
  margin-top: 20px;
  height: 22px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid var(--dark-blue);
}

.filled {
  background-color: var(--medium-blue);
}

.answerFeedback {
  max-width: 350px;
  margin-right: 40px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

.neutral {
  color: var(--grey);
}

.bad {
  color: var(--red);
}

.good {
  color: var(--green);
}
