html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  padding: 20px;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  --dark-blue: #4090f6;
  --medium-blue: #82c3ff;
  --light-blue: #e4f2fe;
  --grey: #c3c5ce;
}

button {
  padding: 5px 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #e4f2fe;
  box-shadow: 2px 2px 10px #cbd1da75;
  transition: all 300ms ease-in;
  min-width: 200px;
}

button:hover {
  box-shadow: 2px 2px 10px #cbd1da;
}

.primary {
  background-color: var(--dark-blue);
  color: white;
  box-shadow: 2px 2px 10px #408ff675;
}

.primary:hover {
  box-shadow: 2px 2px 10px var(--dark-blue);
}

.spaced-right {
  margin-right: 20px;
}
