.voteWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-content: stretch;
}

.voteButton {
  width: calc(300px - 10px);
  min-height: 100px;
  margin-bottom: 10px;
  border: 2px solid var(--light-blue);
}

.vote {
  margin: 10px 0;
}

.selected {
  border: 2px solid var(--dark-blue);
}

.vote:not(:last-child) {
  margin-right: 10px;
}

.resultsText {
  color: var(--grey);
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.recommendedText {
  color: var(--medium-blue);
  font-weight: bold;
  font-size: 0.8rem;
}
